<!--mat-list-item>
  <button mat-button [matMenuTriggerFor]="quotationMenu">
    <mat-icon>web_asset</mat-icon>
    <span class="top-menu-item">Devis</span>
  </button>
</mat-list-item>
<mat-menu #quotationMenu="matMenu">
  <a mat-menu-item (click)="onSidenavClose()" routerLink="/create-quotation" routerLinkActive="active">
    <mat-icon>add</mat-icon>
    <span>Nouveau devis</span>
  </a>
  <a mat-menu-item (click)="onSidenavClose()" routerLink="/list-quotations" routerLinkActive="active">
    <mat-icon>sort</mat-icon>
    <span>Devis en cours</span>
  </a>
  <a mat-menu-item (click)="onSidenavClose()" [routerLink]="['/list-quotations', {archived: 'true'}]" routerLinkActive="active">
    <mat-icon>folder</mat-icon>
    <span>Devis archivés</span>
  </a>
</mat-menu>

<mat-list-item>
  <button mat-button [matMenuTriggerFor]="orderMenu">
    <mat-icon>event</mat-icon>
    <span class="top-menu-item">Commandes</span>
  </button>
</mat-list-item>
<mat-menu-- #orderMenu="matMenu">
  <a mat-menu-item (click)="onSidenavClose()" routerLink="/create-order" routerLinkActive="active">
    <mat-icon>add</mat-icon>
    <span>Nouvelle commande</span>
  </a>
  <a mat-menu-item (click)="onSidenavClose()" routerLink="/list-orders" routerLinkActive="active">
    <mat-icon>sort</mat-icon>
    <span>Commandes en cours</span>
  </a>
  <a mat-menu-item (click)="onSidenavClose()" [routerLink]="['/list-orders', {archived: 'true'}]" routerLinkActive="active">
    <mat-icon>folder</mat-icon>
    <span>Commandes archivées</span>
  </a>
  <a mat-menu-item (click)="onSidenavClose()" routerLink="/export-orders" routerLinkActive="active">
    <mat-icon>save_alt</mat-icon>
    <span>Export commandes</span>
  </a>
</mat-menu-->

<mat-list-item>
  <button mat-button [matMenuTriggerFor]="clientMenu">
    <mat-icon>contact_mail</mat-icon>
    <span class="top-menu-item">Clients</span>
  </button>
</mat-list-item>
<mat-menu #clientMenu="matMenu">
  <a mat-menu-item (click)="onSidenavClose()" routerLink="/create-client" routerLinkActive="active">
    <mat-icon>add</mat-icon>
    <span>Nouveau client</span>
  </a>
  <a mat-menu-item (click)="onSidenavClose()" routerLink="/list-clients" routerLinkActive="active">
    <mat-icon>sort</mat-icon>
    <span>Liste clients</span>
  </a>
</mat-menu>

<mat-list-item>
  <button mat-button [matMenuTriggerFor]="producerMenu">
    <mat-icon>face</mat-icon>
    <span class="top-menu-item">Producteurs</span>
  </button>
</mat-list-item>
<mat-menu #producerMenu="matMenu">
  <a mat-menu-item (click)="onSidenavClose()" routerLink="/create-producer" routerLinkActive="active">
    <mat-icon>add</mat-icon>
    <span>Nouveau producteur</span>
  </a>
  <a mat-menu-item (click)="onSidenavClose()" routerLink="/list-producers" routerLinkActive="active">
    <mat-icon>sort</mat-icon>
    <span>Liste producteurs</span>
  </a>
</mat-menu>

<mat-list-item>
  <button mat-button [matMenuTriggerFor]="productMenu">
  <mat-icon>shopping_basket</mat-icon>
  <span class="top-menu-item">Produits</span>
  </button>
</mat-list-item>
<mat-menu #productMenu="matMenu">
  <a mat-menu-item (click)="onSidenavClose()" routerLink="/create-product" routerLinkActive="active">
    <mat-icon>add</mat-icon>
    <span>Nouveau produit</span>
  </a>
  <a mat-menu-item (click)="onSidenavClose()" routerLink="/list-products" routerLinkActive="active">
    <mat-icon>sort</mat-icon>
    <span>Liste produits</span>
  </a>
  <!--a mat-menu-item (click)="onSidenavClose()" routerLink="/stock" routerLinkActive="active">
    <mat-icon>compare_arrows</mat-icon>
    <span>Stocks</span>
  </a-->
</mat-menu>

<mat-list-item>
  <button mat-button [matMenuTriggerFor]="parametersMenu">
    <mat-icon>build</mat-icon>
    <span class="top-menu-item">Paramètres</span>
  </button>
</mat-list-item>
<mat-menu #parametersMenu="matMenu">
  <a mat-menu-item (click)="onSidenavClose()" routerLink="/create-employe" routerLinkActive="active">
    <mat-icon>add</mat-icon><mat-icon>people_outline</mat-icon>
    <span>Nouvel employé</span>
  </a>
  <a mat-menu-item (click)="onSidenavClose()" routerLink="/list-employes" routerLinkActive="active">
    <mat-icon>sort</mat-icon><mat-icon>people_outline</mat-icon>
    <span>Liste employé</span>
  </a>
</mat-menu>
