<form [formGroup]="createProductForm" class="main-container">
  <h2>Nouveau produit</h2>
  <mat-form-field>
    <input type="text" matInput formControlName="name" placeholder="Nom" required>
    <mat-error *ngIf="name.invalid">Veuillez renseigner le nom.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput formControlName="description" placeholder="Description">
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput formControlName="internal_number" placeholder="Référence interne" required>
    <mat-error *ngIf="internal_number.invalid">Veuillez renseigner la référence interne.</mat-error>
  </mat-form-field>

  <mat-form-field class="margin-bottom-1">
    <input type="text" matInput formControlName="comment" placeholder="Commentaires">
  </mat-form-field>
  <mat-form-field>
    <input type="number" matInput formControlName="weight" placeholder="Poids" required>
  </mat-form-field>
  <div class="margin-bottom-1">
    <label>Actif</label>
    <mat-radio-group formControlName="active">
      <mat-radio-button value="true">Oui</mat-radio-button>
      <mat-radio-button value="false" checked>Non</mat-radio-button>
    </mat-radio-group>
  </div>
  <div>
    <h5>Photo</h5>
    <input type="file" placeholder="Photo" (change)="updateFile($event)" #inputPhoto accept="image/*">
    <button mat-button>
      <mat-icon color="warn" (click)="deletePhoto(inputPhoto)" *ngIf="photoFile!=undefined">delete</mat-icon>
    </button>
  </div>
</form>
<div class="button-container">
  <button mat-raised-button color="primary" type="button" (click)="wantAddProduct()" [disabled]="!createProductForm.valid">Enregistrer</button>
  <!--button mat-raised-button color="primary" type="button" (click)="importProducts()">Importer</button-->
  <a routerLink="/list-products" mat-raised-button>Annuler</a>
</div>
