<form [formGroup]="createProductForm" class="main-container">
  <h2>Nouveau produit</h2>
  <mat-form-field>
    <input type="text" matInput formControlName="name" placeholder="Nom" required>
    <mat-error *ngIf="name.invalid">Veuillez renseigner le nom.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput formControlName="description" placeholder="Description">
  </mat-form-field>
  <!--mat-form-field>
    <input type="text" matInput formControlName="serial_number" placeholder="Numéro de série">
  </mat-form-field-->
  <mat-form-field>
    <input type="text" matInput formControlName="internal_number" placeholder="Référence interne" required>
    <mat-error *ngIf="internal_number.invalid">Veuillez renseigner la référence interne.</mat-error>
  </mat-form-field>
  <!--mat-form-field>
    <input type="text" matInput formControlName="barcode" placeholder="Code barre">
  </mat-form-field-->
  <mat-form-field class="margin-bottom-1">
    <input type="text" matInput formControlName="comment" placeholder="Commentaires">
  </mat-form-field>

  <!--div class="margin-bottom-1">
    <label>Type de prestation : </label>
    <mat-radio-group formControlName="type">
      <mat-radio-button value="rental" checked>location de matériel</mat-radio-button>
      <mat-radio-button value="sale">vente de matériel</mat-radio-button>
      <mat-radio-button value="service">prestation de service</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="margin-bottom-1" *ngIf="isSellable==false">
    <label>Appliquer prix dégressifs : </label>
    <mat-radio-group formControlName="apply_degressivity">
      <mat-radio-button value="true">Oui</mat-radio-button>
      <mat-radio-button value="false">Non</mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-form-field *ngIf="isSellable==true">
    <input type="number" matInput formControlName="sell_price" placeholder="Prix de vente / prestation de service" required>
  </mat-form-field>
  <mat-form-field *ngIf="isSellable==false">
    <input type="number" matInput formControlName="rent_price" placeholder="Prix de location" required>
  </mat-form-field>
  <mat-form-field-- *ngIf="isSellable==false && apply_degressivity==true">
    <input type="number" matInput formControlName="stock" placeholder="Stock" required>
    <mat-error *ngIf="stock.invalid">Veuillez renseigner le stock</mat-error>
  </mat-form-field-->
  <mat-form-field>
    <input type="number" matInput formControlName="sell_price" placeholder="Prix de vente" required>
  </mat-form-field>
  <div>
    <h5>Photo</h5>
    <input type="file" placeholder="Photo" (change)="updateFile($event)" #inputPhoto accept="image/*">
    <button mat-button>
      <mat-icon color="warn" (click)="deletePhoto(inputPhoto)" *ngIf="file!=undefined">delete</mat-icon>
    </button>
    <!--div>upload {{ uploadPercent | async }} %</div>
    <a [href]="downloadURL | async" target="_blank"> <img [src]="downloadURL | async"/></a-->
  </div>

  <!--p>
    Form Status: {{ createProductForm.status }}
  </p-->
</form>
<div class="button-container">
  <button mat-raised-button color="primary" type="button" (click)="wantAddProduct()" [disabled]="!createProductForm.valid">Enregistrer</button>
  <!--button mat-raised-button color="primary" type="button" (click)="importProducts()">Importer</button-->
  <a routerLink="/list-products" mat-raised-button>Annuler</a>
</div>




