table {
  border-collapse: collapse;
  width: min-content;
  margin-right: 15px;
  margin-left: 15px;
}
tr {
  border-bottom: 2px solid lightgray;
}

th, td {
  border-right: 1px solid lightgray;
  overflow: hidden;
  padding: 0.1rem;
  font-weight: normal;
  text-align: center;
}

section {
  margin: 1rem;
}

.th-product {
  height: 80px;
  min-width: 3rem;
  max-width: 3rem;
  background-color: #dcdcdc;
}

.th-client {
  min-width: 150px;
  background-color: #dcdcdc;
}

.p-product {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 0.7rem;
  line-height: 0.7rem;
  padding-top: 0.2rem;
  margin: auto;
  height: inherit;
  max-width: 2rem;
  overflow: hidden;
}

.p-client {
  text-align: center;
  margin: 0;
  padding: 0.2rem;
  line-height: 1rem;
  font-size: 0.8rem;
}
table input {
  font-size: 0.7rem;
}

.th-td-client {
  overflow: hidden;
}

.icon-little {
  display: block;
  text-align: left;
  font-size:0.8rem;
  height: auto;
  padding: 0.4rem 0 0 0.5rem;
}

.icon-th-client {
  float: left;
}

.hiddenCell button {
  font-size: 0.7rem;
  width: 150px;
  margin: 0.2rem;
  line-height: 1.4rem;
}
.bg-grey {
  background-color: #dcdcdc;
}
