.table {
  margin: auto;
  width: auto;
}

.tr {
  display: flex;
  border-bottom: 1px solid lightgray;
}

.th, .td {
  display: inline-block;
  border-right: 1px solid lightgray;
  overflow: hidden;
  padding: 0.1rem;
  font-weight: normal;
  text-align: center;
  width: 3rem;
}

section {
  margin: 1rem;
}

.th-product {
  height: 80px;
  width: 3rem;
}


.th-client {
  width: 180px;
  overflow: hidden;
  border-right: 2px solid lightgray;
}

.th-client-first {
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
}


.p-product {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 0.7rem;
  line-height: 0.7rem;
  padding-top: 0.2rem;
  margin: auto;
  height: inherit;
  max-width: 2rem;
  overflow: hidden;
}

.p-client {
  text-align: center;
  margin: 0;
  padding: 0.2rem;
  line-height: 1rem;
  font-size: 0.8rem;
}
.table input {
  font-size: 0.7rem;
}


.icon-little {
  display: block;
  text-align: left;
  font-size:0.8rem;
  height: auto;
  padding: 0.4rem 0 0 0.5rem;
}

.icon-edit-price {
  display: block;
  text-align: right;
  width: 100%;
  height: 0.3rem;
  font-size: 0.5rem;
}

.icon-th-client {
  float: left;
}

.hiddenCell button {
  font-size: 0.7rem;
  width: 150px;
  margin: 0.2rem;
  line-height: 1.4rem;
}

.bg-grey {
  background-color: #dcdcdc;
}

.bg-grey-light {
  background-color: #f1f1f1;
}

.bg-grey-light-2 {
  background-color: #fcfcfc;
}

.bold {
  font-weight: bold;
}

.red {
  color : red;
}

.icon-generate-order {
  text-align: right;
  font-size: 1.2rem;
}


.sticky-top {
  position: sticky;
  top : 101px;
}


.sticky-left {
  position: sticky;
  left : 0;
}

.sticky-bottom {
  position: sticky;
  bottom : 0;
}

.secondary-menu {

}

@media screen and (max-width:599px) {
.sticky-top {
  top:93px;
}

}
